__pycache__
dc_crawling/__pycache__
main/__pycache__

db.sqlite3

dc_crawling/cronlog.log

auth/
dc_crawling/reviewUpload.sh
dc_crawling/reviewUpload.log

main/migrations/
main/module/makeTrie.sh
main/module/wordTrie.pickle
staticfiles/
whiskey/settings.py

#frontend

.DS_Store
.env

frontend/.env**
frontend/node_modules/
frontend/dist/
frontend/.cache/
frontend/.next/
frontend/*.pem

frontend/public/sw.js
frontend/public/sw.js.map
frontend/public/workbox-*.js
frontend/public/workbox-*.js.map

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

frontend/.vercel
frontend/*.tsbuildinfo
frontend/next-env.d.ts

pull.sh