__pycache__
dccrolling/__pycache__
main/__pycache__

db.sqlite3

dccrolling/cronlog.log

dccrolling/database/review_beer.json
dccrolling/database/review_brandy.json
dccrolling/database/review_other.json
dccrolling/database/review_other_total.json
dccrolling/database/review_whiskey.json

dccrolling/mysql_auth.py
dccrolling/reviewUpload.sh
dccrolling/reviewUpload.log

main/migrations/
staticfiles/
whiskey/settings.py


frontend/node_modules/
frontend/dist/
frontend/.cache/
frontend/.next/
frontend/*.pem

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

frontend/.vercel
frontend/*.tsbuildinfo
frontend/next-env.d.ts

pull.sh