__pycache__
dccrolling/__pycache__
main/__pycache__

db.sqlite3

dccrolling/cronlog.log

dccrolling/database/

dccrolling/mysql_auth.py
dccrolling/reviewUpload.sh

main/migrations/
staticfiles/
whiskey/settings.py


frontend/node_modules/
frontend/.next/
frontend/*.pem

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

frontend/.vercel
frontend/*.tsbuildinfo
frontend/next-env.d.ts
