#backend
dccrolling/__pycache__
main/__pycache__

db.sqlite3

dccrolling/cronlog.log

dccrolling/database/review_beer.json
dccrolling/database/review_brandy.json
dccrolling/database/review_other.json
dccrolling/database/review_other_total.json
dccrolling/database/review_whiskey.json

auth/
dccrolling/reviewUpload.sh
dccrolling/reviewUpload.log

main/migrations/
main/module/makeTrie.sh
main/module/wordTrie.pickle
staticfiles/
whiskey/settings.py

backup.sql