<table border="1" class="stocktable" id="table1">
  <thead>
    <tr style="text-align: right;">
      <th>title</th>
      <th>recom</th>
      <th>reply</th>
      <th>postDate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="https://gall.dcinside.com/mgallery/board/view/?id=whiskey&no=252033&page=389" target=_blank><div>위위리) 글렌드로낙 CS 배치 7</div></a></td>
      <td>4</td>
      <td>9</td>
      <td>2022-05-08</td>
    </tr>
    <tr>
      <td><a href="https://gall.dcinside.com/mgallery/board/view/?id=whiskey&no=241616&page=565" target=_blank><div>기록용) 글렌드로낙 CS 배치 9</div></a></td>
      <td>1</td>
      <td>6</td>
      <td>2022-04-27</td>
    </tr>
    <tr>
      <td><a href="https://gall.dcinside.com/mgallery/board/view/?id=whiskey&no=238978&page=607" target=_blank><div>위리)글렌드로낙 CS 배치9</div></a></td>
      <td>1</td>
      <td>3</td>
      <td>2022-04-24</td>
    </tr>
    <tr>
      <td><a href="https://gall.dcinside.com/mgallery/board/view/?id=whiskey&no=219945&page=921" target=_blank><div>qwer1님 나눔 글렌드로낙 CS 배치 8</div></a></td>
      <td>3</td>
      <td>7</td>
      <td>2022-03-31</td>
    </tr>
    <tr>
      <td><a href="https://gall.dcinside.com/mgallery/board/view/?id=whiskey&no=219563&page=928" target=_blank><div>교환 리뷰 (드로낙12,맥12 셰리 , 글렌파105, 알라키 배치5)</div></a></td>
      <td>1</td>
      <td>5</td>
      <td>2022-03-30</td>
    </tr>
    <tr>
      <td><a href="https://gall.dcinside.com/mgallery/board/view/?id=whiskey&no=209560&page=1103" target=_blank><div>위나리) 글랜드로낙 CS 배치 9 55.8%</div></a></td>
      <td>0</td>
      <td>5</td>
      <td>2022-03-16</td>
    </tr>
    <tr>
      <td><a href="https://gall.dcinside.com/mgallery/board/view/?id=whiskey&no=204894&page=1184" target=_blank><div>위위리)후각 회복 기념2 - 글렌드로낙 CS 배치5 ABV 55.3%</div></a></td>
      <td>4</td>
      <td>2</td>
      <td>2022-03-07</td>
    </tr>
    <tr>
      <td><a href="https://gall.dcinside.com/mgallery/board/view/?id=whiskey&no=150615&page=2125" target=_blank><div>[리뷰]글렌드로낙 CS 배치9</div></a></td>
      <td>6</td>
      <td>7</td>
      <td>2021-12-29</td>
    </tr>
    <tr>
      <td><a href="https://gall.dcinside.com/mgallery/board/view/?id=whiskey&no=102845&page=2924" target=_blank><div>위위리) [알쿼얼]님 나눔리뷰(라프CS 배치13, 드로낙21, 블라인드)</div></a></td>
      <td>3</td>
      <td>4</td>
      <td>2021-10-30</td>
    </tr>
    <tr>
      <td><a href="https://gall.dcinside.com/mgallery/board/view/?id=whiskey&no=93802&page=3079" target=_blank><div>위위리)크라이겔라키17, 드로낙cs배치9, 라프cs배치13</div></a></td>
      <td>12</td>
      <td>13</td>
      <td>2021-10-17</td>
    </tr>
    <tr>
      <td><a href="https://gall.dcinside.com/mgallery/board/view/?id=whiskey&no=37342&page=4042" target=_blank><div>위위리) 글렌드로낙 CS 배치 4</div></a></td>
      <td>7</td>
      <td>6</td>
      <td>2021-07-30</td>
    </tr>
    <tr>
      <td><a href="https://gall.dcinside.com/mgallery/board/view/?id=whiskey&no=11602&page=4496" target=_blank><div>위위리)발베니 아메리칸 토스트 12년, 글렌드로낙 cs 배치9</div></a></td>
      <td>4</td>
      <td>10</td>
      <td>2021-05-08</td>
    </tr>
    <tr>
      <td><a href="https://gall.dcinside.com/mgallery/board/view/?id=whiskey&no=9124&page=4540" target=_blank><div>위위리) 글렌드로낙 18년, 글렌알라키 10cs 배치 5</div></a></td>
      <td>5</td>
      <td>5</td>
      <td>2021-04-10</td>
    </tr>
    <tr>
      <td><a href="https://gall.dcinside.com/mgallery/board/view/?id=whiskey&no=2952&page=4651" target=_blank><div>나눔 리뷰)드로낙12, 1792 스몰배치, 라프로익쿼캐</div></a></td>
      <td>1</td>
      <td>2</td>
      <td>2020-11-22</td>
    </tr>
    <tr>
      <td><a href="https://gall.dcinside.com/mgallery/board/view/?id=whiskey&no=1219&page=4680" target=_blank><div>주위리)글렌드로낙 cs배치 7</div></a></td>
      <td>7</td>
      <td>3</td>
      <td>2020-08-23</td>
    </tr>
    <tr>
      <td><a href="https://gall.dcinside.com/mgallery/board/view/?id=whiskey&no=435&page=4693" target=_blank><div>주위리) 글렌드로낙 cs 배치8</div></a></td>
      <td>9</td>
      <td>12</td>
      <td>2020-07-12</td>
    </tr>
  </tbody>
</table>